:root{
    --main-background:#E5E5E5;
    --light-background: #F5F5F5;
    --main-color:#1F8C9E;
    --white:#fff;
    --black:rgba(34, 34, 34, 0.8);
}

body{
    margin:0;
    padding:0;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: var(--black);
}

h1{
    color:var(--white);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 0;
}

h3{
    margin-left:20px;
}

pre{
    margin: 20px;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.bold{
    font-weight: bold;
}
.cv-wrp{
    width:595px;
    background-color: var(--main-background);
    margin: 0 auto;
}

.header{
    width:100%;
    background-color:var(--main-color);
    padding: 25px 30px 20px;
    box-sizing: border-box;
}

.photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:center / 100% no-repeat url("../images/photo.jpeg") ;
    margin-right: 15px;
}

.job-title{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0;
}

.contacts{
    list-style-type: none;
    padding: 0;
}

.contacts-item{
    margin-right: 40px;
    font-size: 12px;
    line-height: 15px;
}

.contacts-item a{
    color: var(--white);
    text-decoration: none;
}

.contacts-item a:hover{
    color: var(--main-background);
}

.icon{
    padding: 0 2px;
    position: relative;
    top: 2px;
}



.left-side, .right-side {
    width:50%
  }

.right-side{
    background-color: var(--light-background);
}

.code-examples{
    width:100%;
}
.section{
    margin:22px;
}

.section-header{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: var(--main-color);
}

.code-header, footer{
    background-color: var(--main-color);
    color: var(--white);
    margin:0;
    padding: 25px 30px 20px;
}

.section-list{
    list-style-type: none;
    padding: 8px;
    position: relative;
}

.section-list:before{
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #7AB9C3 0%, rgba(122, 185, 195, 0) 100%);
    position: absolute;
    left: -8px;
}
.section-list-item{
    margin:5px 0;
    position: relative;
}
.section-list-item:first-child{
    margin-top: 0;
}
.section-list-item:before{
    display: block;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #7AB9C3;
    border: 2px solid #D5E6E8;
    position: absolute;
    left:-19px
}


.github-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--black);
}

.course-link:hover img,.course-link:active img, .github-link:hover{
    transform: scale(1.2);
}
.course-link:active{
    transform: translate(2px, 1px);
}
.github-link:active{
    transform: scale(1.2) translate(2px, 1px);;
}
.footer-date{
    font-weight: bold;
    color: var(--black);    
}